@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

ol,
ul {
  list-style: none;
}

.display-none {
  display: none;
}

.display-flex {
  display: flex;
}

.display-block {
  display: block;
}

.header {
  background-color: rgba(38, 44, 58, 255);
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
  align-items: center;
  margin: auto;
  max-height: 200px;
  height: 150px;
  z-index: 100;
  left: 0;
  right: 0;
}

.header .logo img {
  width: 200px;
}

.nav-ul {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-around;
  width: 550px;
}

.nav-ul li a {
  transition: 0.7s ease;
}

.header ul li a {
  color: white;
  font-size: 23px;
  font-weight: bold;
}

.header ul li a:hover {
  color: rgb(98, 118, 163);
  transition: 0.3s;
}

.registration-search ul {
  width: 145px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.registration-search .search-icon i {
  color: white;
  font-size: 20px;
  cursor: pointer;
}

.search-icon i:hover {
  color: rgb(98, 118, 163);
  transition: 0.3s;
}

.registration-search .left-border {
  /* width: 5px;
  height: 10px;
  background-color: white;
  color: white; */
  border-left: 1px solid white;
  padding-left: 20px;
  width: 50px;
}

/* BURGER BAR */

.burger-menu {
  border-left: 1px solid white;
  padding-left: 23px;
  width: 50px;
  height: 20px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  display: none;
}

.burger-menu:hover .burger {
  background-color: rgb(98, 118, 163);
  transition: 0.3s;
}

.burger {
  width: 30px;
  height: 3px;
  background-color: white;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.form-section {
  /* width: 600px; */
  padding: 50px;
  max-width: 800px;
  max-height: 600px;
  border-radius: 10px;
  background-color: rgba(38, 44, 58, 255);
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
  display: none;
}

.form-section.active-form {
  display: block;
}

.inputs {
  max-width: 230px;
}

.form-section .heading h1 {
  color: white;
  text-align: center;
  margin: 20px 0;
}

.heading {
  position: relative;
}

.heading span {
  position: absolute;
  top: 0;
  right: 25px;
  color: white;
  font-size: 30px;
}

.heading span {
  cursor: pointer;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto;
  gap: 15px;
  /* height: 250px; */
  justify-content: center;
}

.grid-container input {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  padding: 5px 2px;
  width: 230px;
  font-size: 15px;
  margin-top: 3px;
  outline: none;
}

.grid-container label {
  color: white;
  font-size: 17px;
}

.flex-input {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 120px;
  gap: 5px;
  padding-top: 20px;
}

.agree-submit {
  width: 350px;
  height: 80px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 20px auto;
}

.agree-submit label {
  color: white;
}

.agree-submit .btn {
  margin-top: 10px;
}

.agree-submit .btn button {
  width: 350px;
  height: 40px;
  font-size: 18px;
  background-color: #eab676;
  cursor: pointer;
}

.agree-submit .btn button:hover {
  background-color: rgb(221, 161, 87);
}

.error-text {
  margin-top: 3px;
  color: red;
  display: block;
}

.valid-mail {
  color: greenyellow;
}

.pass-input {
  position: relative;
}

.show {
  position: absolute;
  right: 5px;
  top: 30px;
}

.pass-input span i {
  cursor: pointer;
}

/* TEAM LIST  */

.team-section {
  margin: 50px auto;
  width: 1000px;
}

.team-ul {
  position: relative;
}

.team-ul-header {
  padding: 20px 15px;
  background-color: rgb(98, 118, 163);
  color: white;
  display: grid;
  grid-template-columns: 130px 410px 200px 225px;
  align-items: center;
}

.search {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search input {
  outline: none;
  height: 25px;
  padding: 0 3px;
  font-size: 15px;
}

.search span i {
  font-size: 18px;
  cursor: pointer;
}

.member-li {
  padding: 15px 15px;
  display: grid;
  grid-template-columns: 100px 100px 300px 300px auto;
  align-items: center;
}

.member-li:hover {
  background-color: #ccc;
}

.member-img {
  width: 70px;
  border-radius: 50%;
}

.member-name {
  font-weight: 300;
}

.member-mail {
  font-weight: 300;
}

.member-status {
  font-weight: 300;
}

.load-btn {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 10px;
  width: 100px;
  height: 30px;
  outline: none;
  font-size: 15px;
  cursor: pointer;
}

/* FOOTER  */

footer {
  background-color: rgba(38, 44, 58, 255);
  /* height: 300px; */
}

.footer-section {
  padding: 50px 0;
  display: grid;
  grid-template-columns: 200px 400px 100px;
  column-gap: 300px;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.footer-flex {
  height: 110px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
}

.leftie {
  height: 140px;
}

.icon {
  position: relative;
}

.icon span {
  position: absolute;
  left: -30px;
  top: 0;
}

.mid {
  height: 150px;
}

.icons {
  width: 150px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
}

.icons span a {
  color: white;
}

.icons span i {
  font-size: 25px;
}

.icons span i:hover {
  color: rgb(98, 118, 163);
  transition: 0.3s;
}

.rightie li a {
  text-decoration: none;
  color: white;
  font-size: 20px;
}

.rightie li a:hover {
  color: rgb(98, 118, 163);
  transition: 0.3s;
}

/* MEDIA  */

@media (max-width: 1460px) {
  .team-section {
    width: 800px;
  }
  .team-ul-header {
    grid-template-columns: 80px 310px 150px 225px;
  }
  .member-li {
    grid-template-columns: 50px 100px 200px 250px auto;
  }
  .footer-section {
    grid-template-columns: 20px 150px 50px;
    column-gap: 250px;
  }
  .reduce h3 {
    font-size: 15px;
    width: 150px;
  }
  .mid p {
    font-size: smaller;
  }
  .icons span i {
    font-size: 20px;
  }
  .rightie li a {
    font-size: 17px;
  }
}

@media (max-width: 1024px) {
  .header ul li a {
    font-size: 18px;
  }
  .nav-ul {
    width: 400px;
  }
  .content-div {
    top: 130px;
    left: 30px;
    max-width: 300px;
    max-height: 130px;
    padding: 10px 20px;
    gap: 5px;
  }
  .footer-section {
    grid-template-columns: 20px 150px 30px;
    column-gap: 200px;
  }
  .reduce h3 {
    font-size: 13px;
    width: 150px;
  }
  .mid p {
    font-size: smaller;
  }
  .icons span i {
    font-size: 20px;
  }
  .rightie li a {
    font-size: 17px;
  }
}

@media (max-width: 768px) {
  .burger-menu {
    display: block;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
  }

  .burger-menu.active .burger:nth-child(2) {
    opacity: 0;
  }
  .burger-menu.active .burger:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .burger-menu.active .burger:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .nav-ul {
    position: fixed;
    right: -100%;
    top: 100px;
    gap: 0;
    flex-direction: column;
    background-color: rgba(38, 44, 58, 255);
    width: 235px;
    text-align: center;
    transition: 0.3s;
    z-index: 100;
  }

  .nav-ul.active {
    right: 0;
  }

  .nav-ul li {
    margin: 8px 0;
  }

  .content-div {
    width: 200px;
  }

  .content-div h1 {
    font-size: 18px;
  }

  .content-div p {
    font-size: 13px;
  }

  .team-section {
    width: 500px;
  }

  .team-ul-header {
    grid-template-columns: 80px 150px 70px auto;
  }
  .team-ul-header input {
    height: 20px;
    width: 150px;
  }
  .team-ul-header h1 {
    font-size: 15px;
  }
  .member-li {
    grid-template-columns: 30px 80px 100px 180px auto;
  }

  .member-li img {
    width: 60px;
  }

  .member-li h1 {
    font-size: 15px;
  }

  .member-li h3 {
    font-size: 15px;
  }

  .member-li h4 {
    font-size: 13px;
  }

  .form-section {
    max-height: 800px;
  }

  .grid-container {
    grid-template-columns: auto;
  }

  .registration-search ul {
    width: 180px;
  }
  .footer-section {
    grid-template-columns: 20px 150px;
    column-gap: 200px;
  }
  .reduce h3 {
    font-size: 13px;
    width: 150px;
  }
  .mid p {
    font-size: smaller;
  }
  .icons span i {
    font-size: 20px;
  }
  .right-side {
    display: none;
  }
}

@media (max-width: 480px) {
  .header {
    padding: 0 10px;
  }
  .registration-search ul {
    width: 150px !important;
  }
  .registration-search ul li a {
    font-size: 15px;
  }
  .registration-search .left-border {
    padding-left: 10px;
    width: 25px;
  }
  .registration-search .left-border .search-icon i {
    padding-left: 3px;
    font-size: 15px;
  }
  .registration-search .burger-menu .burger {
    width: 25px;
    height: 2px;
  }
  .burger-menu {
    display: block;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: space-around;
    padding: 0 0 0 10px;
  }

  .burger-menu.active .burger:nth-child(2) {
    opacity: 0;
  }
  .burger-menu.active .burger:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .burger-menu.active .burger:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .nav-ul {
    position: fixed;
    right: -100%;
    top: 100px;
    gap: 0;
    flex-direction: column;
    background-color: rgba(38, 44, 58, 255);
    width: 180px;
    text-align: center;
    transition: 0.3s;
    z-index: 100;
  }

  .nav-ul.active {
    right: 0;
  }

  .nav-ul li {
    margin: 8px 0;
  }

  .header ul li a {
    font-size: 13px;
  }

  .content-div {
    width: 150px;
  }

  .content-div h1 {
    font-size: 16px;
  }

  .content-div p {
    font-size: 11px;
  }

  .registration-search ul {
    width: 180px;
  }
  .footer-section {
    grid-template-columns: 30px 150px;
    column-gap: 150px;
  }
  .reduce h3 {
    font-size: 10px;
    width: 150px;
  }
  .leftie {
    height: 100px;
  }
  .mid {
    height: 100px;
  }
  .mid p {
    font-size: 10px;
  }
  .icons {
    width: 80px;
  }
  .icons span i {
    font-size: 15px;
  }
  .right-side {
    display: none;
  }
}
